<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081888976378-5aabikjdumb8erl2lvcv6edicbo94qhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081888976378-5aabikjdumb8erl2lvcv6edicbo94qhc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1081888976378-54bmbom1d6npfe6di9943s8tj0n4ne5j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUeYlZ8TyCcGPGoAERnWCdksqVsHbquTc</string>
	<key>GCM_SENDER_ID</key>
	<string>1081888976378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LoopStudios.PartyInc</string>
	<key>PROJECT_ID</key>
	<string>partyinc-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>partyinc-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081888976378:ios:c7cf8caea9b3a6e2e4c843</string>
	<key>DATABASE_URL</key>
	<string>https://partyinc-testing-default-rtdb.firebaseio.com</string>
</dict>
</plist>